#match4ss {
    height: 350px;
    width: 700px
}

#ogress {
    height: 350px;
    width: 700px;
}

#fandbss {
    height: 350px;
    width: 700px
}

#reactss {
    height: 350px;
    width: 700px
}

* {
    margin: 0;
    text-align: center;
    font-family: 'Press Start 2P';
    line-height: 4;
}

body {
    background-color: rgb(231, 231, 248);

}

.headerContent {
    color: white;
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }

  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 
    #match4ss {
        height: 200px;
        width: 375px
    }
    
    #ogress {
        height: 200px;
        width: 375px;
    }
    
    #fandbss {
        height: 200px;
        width: 375px
    }
    
    #reactss {
        height: 200px;
        width: 375px
    }

    * {
        margin: 0;
        text-align: center;
        font-family: 'Press Start 2P';
        line-height: 1.8;
    }
}

